/* Isolate browser content from our app's global styles */
#browser-content-container {
  all: revert;
  box-sizing: border-box;
}

#browser-content-container * {
  all: revert;
  box-sizing: border-box;
}

/* Allow the injected site's styles to take precedence */
#browser-content-container > * {
  margin: 0;
  padding: 0;
}
